{% extends 'base/base.html' %}


{% block  content_slidebar%}
    {% if rol %}
        {% if rol == 'admin' %}
            {% include 'menu/menu_admin.html' %}         
            {% block  menu_admin%}{% endblock%}         
        {% elif rol == 'empleado' %}
            {% include 'menu/menu_empleado.html' %}
            {% block  menu_empleado%}{% endblock%}   
        {% endif %}
    {% endif %}
{% endblock %}

{% block titulo %}
  Inventarios
{% endblock %}

{% block content_main %}
  {% load static %}
  <div class="main-content">
    <!-- Botón para abrir el modal de agregar -->
    <button id="abrirModal" class="btn_agregar"><i class="fas fa-plus"></i> Nuevo Producto</button>

    <!-- Modal de agregar o actualizar -->
    <!-- Modal -->
    <!-- Modal -->
    <div id="miModal" class="modal">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="titulo_modal">Nuevo Producto</h2>
        </div>
        <div class="modal-body">
          <form class="form" id="formProducto" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_nombre">Nombre</label>
              {{ form.nombre }}
              <input type="hidden" name="producto_id" value="" />
            </div>
            <div class="form-group">
              <label for="id_precio">Precio</label>
              {{ form.precio }}
            </div>
            <div class="form-group">
              <label for="id_descripcion">Descripción</label>
              {{ form.descripcion }}
            </div>
            <div class="form-group">
              <label for="id_imagen">Imagen</label>
              {{ form.imagen }}
              <img id="imagen_actual" src="" alt="Imagen actual" style="max-width: 100px; max-height: 100px;" />
              <input type="hidden" id="imagen_actual_url" name="imagen_actual_url" value="" />
            </div>
            <div class="form-group">
              <label for="id_cantidad">Cantidad</label>
              {{ form.cantidad }}
            </div>
            <div class="form-group">
              <label for="id_cafeteria">Cafetería</label>
              {{ form.cafeteria }}
            </div>
            <div class="form-group">
              <label for="id_categoria">Categoría</label>
              {{ form.categoria }}
            </div>
            <div class="form-group">
              <label for="">Acciones</label>
              <div>
                <button type="button" id="cerrarModal" class="btn-cerrar">Cancelar</button>
                <button type="submit" class="btn-actualizar">Guardar Producto</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>

    <!-- Tabla de productos -->
    <div class="">
      <table id="inventario" class="table table-striped display" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
            <tr>
              <td>{{ producto.id }}</td>
              <td>
                <img src="{{ producto.imagen.url }}" alt="" class="img-pequena" />
              </td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio }}</td>
              <td>
                {% if producto.cantidad >= 7 %}
                  <div class="stock">Stock</div>
                {% elif producto.cantidad >= 1 and producto.cantidad <= 6 %}
                  <div class="bajo-stock">Bajo Stock</div>
                {% else %}
                  <div class="sin-stock">Sin stock</div>
                {% endif %}
              </td>
              <td>
                <div class="iconos-accion">
                  <!-- Enlace para editar -->
                  <li class="fas fa-pen-to-square actualizar_producto" data-id="{{ producto.id }}"></li>
                  <!-- Formulario para eliminar -->
                  <form class="form_eliminar" action="{% url 'eliminar_producto' producto.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="fas fa-trash-can"></button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block content_main_script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
<script type="module" src="{%static 'base_cafe/js/datatable.js'%}"></script>
<script type="module" src="{%static 'base_cafe/js/modal_inventario.js'%}"></script>
<script type="module" src="{%static 'base_cafe/js/productos_acciones.js'%}"></script>
<script type="module" src="{%static 'base_cafe/js/sweetalert.js'%}"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.bootstrap5.js"></script> 
{% endblock %}
