{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="plataforma de gestión de operador. Herramientas avanzadas y análisis detallados para optimizar tus procesos. Gestión de operador, eficiencia operativa, análisis de rendimiento, herramientas de gestión, productividad empresarial.">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'base_cafe/img/logo_sena.ico' %}" >
    <link rel="stylesheet" type="text/css" href="{%static 'base_cafe/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'base_cafe/css/cardProductos.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'base_cafe/css/formulario.css'%}"> 
    <link rel="stylesheet" type="text/css" href="{%static 'base_cafe/css/table.css'%}"> 
    <!--cdn-link-dataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <!--iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--link font-mamily-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <title>SenaCoffe</title>
</head>

<body>
    <div>
        <header class="header">
            <div class="logo">
                <h1 class="title"><span class="seccion-title">Sena</span>Coffe</h1>
                
            </div>
            <div class="user">
                <div class="user-name">
                    
                    
                    <div class="name">
                        <p>{{usuario}}/</span>{{rol}}</p>
                    </div>
                </div>
                <div class="line">
                </div>
            </div>
        </header>
        <div class="content-todo">

            <!--Slaider segun el rol-->
           {% block content_slidebar %}
           
           {% endblock %}
            

           <main class="main-content-rigth">
                <div class="content-title">
                    <p class="title">{% block titulo %}{% endblock  %}</p>
                </div>
    
            {% block content_main %}
           
            {% endblock %}
    
            
        </main>
        
    </div>


    <footer>
        <p>Sena regional Bolivar</p>
        <img src="{%static 'base_cafe/img/logo_sena.png'%}" alt="logo_sena">
    </footer> 
 <!-- Agrega la librería de jQuery -->
 <!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!-- Incluye SweetAlert 2 desde la CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

 <!-- Agrega la librería de DataTables -->
 

    <!--SCRIPT ESPECIFICOS-->
    {% block content_main_script %}
           
    {% endblock %}
    

    <script type="text/javascript">
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
              window.voiceflow.chat.load({
                verify: { projectID: '6669b7e6b18a1e2920225cb0' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production', 
                allowDangerousHTML: true
              });
            }
            v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');



        const parentElement = document.querySelector('.vfrc-launcher');

        if (parentElement) {
            // Crear el elemento hijo
            const childElement = document.createElement('div');
            childElement.className = 'child-element';
            childElement.textContent = 'Elemento Hijo';

            // Añadir el elemento hijo al elemento padre
            parentElement.appendChild(childElement);

            // Agregar los eventos para mostrar/ocultar el elemento hijo
            parentElement.addEventListener('mouseenter', () => {
                childElement.style.display = 'block'; // Mostrar el elemento hijo
            });

            parentElement.addEventListener('mouseleave', () => {
                childElement.style.display = 'none'; // Ocultar el elemento hijo
            });
        }


      </script>
</body>

</html>